/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.user img {
    width: 37px;
}

.dropdown li a {
	text-decoration: none
}

#img {
 width: 50px; 
 height: 50px;
}

#footer {
	background-color: rgba(0,0,0,0.8)
}

#img-footer {
	border: solid #fff 8px;
	width: 100px;
}

#lion {
	width: 10em;
}

 #link {
 	color: #179CD1;
 	text-decoration: none;
 }

#details {
	font-style: italic;
	color: rgba(0, 0, 0, 0.7);
}

#answers {
	color: #DB3C00;
}

#publicby {
	color: #FF7F50;
	font-style: italic;
}

.comment {
	font-size: 12px;
	margin-left: 5px;
}
 .comment img {
 	width: 15px;
 }

#comment {
	padding: 2px;
}

.answer {
	font-size: 13px;
}

#email {
	color: #DB3C00; 
	font-style: italic;
}

#answergravatar {
	width: 30px;
}
#commentgravatar {
	width: 20px;
}

.sign_in a {
	color: #FF530D;
	text-docoration: none;
} 