// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-upvote {
   position: relative;
   float: left;
   text-align: center;
   text-decoration: none;
   padding: 2px 2px;
   width: 35px;

   .upvote-arrow {
     border-bottom: 9px solid #534540;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 9px solid transparent;
     left: 10px;
     text-decoration: none;
     position: absolute;
     top: 0px;
   }

   .upvote-count {
     display: block;
     color: #303030;
     font-size: 20px;
     font-weight: bold;
     line-height: 1;
     text-decoration: none;
     margin-top: 18px;
   }

   &:hover .upvote-arrow { border-bottom-color: #F04500; }

   &.upvote-active {
     .upvote-arrow { border-bottom-color: #F04500; }
     .upvote-count { color: #F04500; }
   }
 }